body {
    margin:  0 auto;
    padding:  0;
    font-family: 'Poppins', sans-serif;
    max-width: 550px;
    border: 2px solid #b7b7b7;
    border-radius: 15px;
}

* {
    box-sizing: border-box;
}

/* typography */
h2, p {
    margin: 0;
}

/* controls */
header {
    padding: 1.5em 1.125em;
}

nav,
.main-btns,
.btn-container {
    display: flex;
}

nav {
    justify-content: space-between;
    gap: 10px;
}

.nav-profile-icon,
.nav-chat-icon,
.nav-logo {
    height: 34px;
}

section{
    padding: 0 0.5em;
}

.main-content-container {
    height: 750px;
    position: relative;
}

.main-content-container img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.main-content {
    position: absolute;
    bottom: 16px;
    left: 28px;
}

.main-content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #F8F8F8;
}

.main-content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #B7B7B7;
}

/* links */

nav img,
.btn-container {
    cursor: pointer;
}

.main-btns {
    padding: 1.5em;
    gap: 24px;
}

.main-btns,
.btn-container {
    justify-content: center;
    align-items: center;
}

.btn-container {
    padding: 10px;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    box-shadow: 0 10px 20px #E9E9EA;
}

.nope:hover,
.nope:focus {
    background-color: #FFE7EF;
    box-shadow: 0 10px 20px #EDD9DF;
}

.like:hover,
.like:focus {
    background-color: #DBFFF4;
    box-shadow: 0 10px 20px #CCF1E6;
}