body {
    margin:  0;
    padding:  0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

/* typography */
h1, p {
    margin: 0;
}

/* controls */
header {
    padding: 24px 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-profile-icon,
.nav-chat-icon,
.nav-logo {
    height: 34px;
}

section{
    padding: 0 8px;
}

.main-img-container {
    height: 750px;
}

.main-img-container img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
